
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;

}
:root{
    --text-color:#000000;
    --main-color:#83b735;    
}
section{
    padding: 50px 10%;
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 100px;
    background: #edecea;
}
.logo{
    font-size: 1.2rem;
    font-weight: 1000;
    color: var(--text-color);
}
.logo span{
    font-weight: 300;
}
.navbar{
    position: relative;
    display: flex;
}
.navbar a{
    font-size: 1rem;
    padding: 10px 20px;
    font-weight: 500;
    color: var(--text-color);
}
.navbar a:hover{
    color: #183561;
}
#menu-icon{
    font-size: 2rem;
    cursor: pointer;
    display: none;
}
.home{
    width: 100%;
    min-height: 100vh;
    background-image: url(1st.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    background-attachment: scroll;
    display: flex;
    align-items: center;
}
.home-text h1{
    font-size: 3.8rem;
}
.home-text{
    font-size: 1.0rem;
    color: white;
    position: relative;
    left: 400px;    
}
.btn{
    padding: 10px 20px;
    background: #B3B3B3;
    color: black;
    font-weight:bold ;
    border-radius: 2.0rem;
    font-size: 18px;
    position: relative;
    left: 300px;
    top: 20px;
}
.btn:hover{
    background: #183561;
}

.b{
    position: relative;
    top: -130px;
    left: 200px;
    width: 1106px;
    height: 253px;
    background: #183561E0 ;
    box-shadow: 0px 3px 6px #000000;
    border-radius: 10.8rem;

}
.btxt{
    font-size: 30px;
    position: relative;
    top: -328px;
    left: 290px ;
    color: white;
}
.tbar{
    position: relative;
    top: -470px;
    left: 500px;
    width: 5px;
    height: 150px;
    border: 5px solid white;
}
.pt{
    position: relative;
    bottom: 320px;
    left: 200px;
    font-size: 0px;
    font: normal normal bold 40px/81px Segoe UI;
    color: black;
}
.pt1{
position: relative;
bottom: 255px;
left: 190px;
width: 250px;
height: 220px;
background: #E6E6E6 0% 0% no-repeat padding-box;
border-radius: 63px;
opacity: 1;
}
.pt1i{
    position: relative;
    bottom: 425px;
    left: 181px;
    width: 266px;
    height: 112px;
}
.pt2{
    position: relative;
    bottom: 593px;
    left: 500px;
    width: 250px;
    height: 220px;
    background: #E6E6E6 0% 0% no-repeat padding-box;
    border-radius: 63px;
    opacity: 1;  
}
.pt2i{
    position: relative;
    bottom: 768px;
    left: 500px;
    width: 256px;
    height: 124px;
}
.pt3{
    position: relative;
    bottom: 945px;
    left: 810px;
    width: 250px;
    height: 220px;
    background: #E6E6E6 0% 0% no-repeat padding-box;
    border-radius: 63px;
    opacity: 1;  
}
.pt3i{
    position: relative;
    bottom: 1160px;
    left: 840px;
    width: 206px;
    height: 211px;
}
.pt4{
    position: relative;
    bottom: 1380px;
    left: 1125px;
    width: 250px;
    height: 220px;
    background: #E6E6E6 0% 0% no-repeat padding-box;
    border-radius: 63px;
    opacity: 1;
}
.pt4i{
    position: relative;
    bottom: 1600px;
    left: 1145px;
    width: 210px;
    height: 221px;
}

.pt5{
    position: relative;
    bottom: 1550px;
    left: 190px;
    width: 250px;
    height: 220px;
    background: #E6E6E6 0% 0% no-repeat padding-box;
    border-radius: 63px;
    opacity: 1;
}
.pt5i{
    position: relative;
    bottom: 0px;
    left: 1px;
    width: 250px;
    height: 210px;
}
.pt6{
    position: relative;
    bottom: 1770px;
    left: 505px;
    width: 250px;
    height: 220px;
    background: #E6E6E6 0% 0% no-repeat padding-box;
    border-radius: 63px;
    opacity: 1;
}
.pt6i{
    position: relative;
    bottom: -25px;
    left: 15px;
    width: 220px;
    height: 170px;
}
.pt7{
    position: relative;
    bottom: 1990px;
    left: 1125px;
    width: 250px;
    height: 220px;
    background: #E6E6E6 0% 0% no-repeat padding-box;
    border-radius: 63px;
    opacity: 1;
}

.pt8{
    position: relative;
    bottom: 2210px;
    left: 811px;
    width: 250px;
    height: 220px;
    background: #E6E6E6 0% 0% no-repeat padding-box;
    border-radius: 63px;
    opacity: 1;
}
.imageb{
    position: relative;
    bottom: 1050px;
    width: 990px;
    height: 600px;
    border-top-left-radius: 0px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 0px;
}
.imagebt{
    position: relative;
    bottom: 1650px;
    left: 1010px;
    font-size: 50px;
    color: #000000;
    font-weight: 800;
}
.homei{
    position: relative;
    font-size: 45px;
    color: #183561;
    bottom: 1620px;
    left: 1010px;
}
.homeit{
    position: relative;
    left: 50px;
    bottom: 70px;
    color: #000000;
}
.homei2{
    position: relative;
    font-size: 45px;
    bottom: 55px;
    color: #183561;
}
.homeit2{
    position: relative;
    bottom: 124px;
    left: 50px;
    color: #000000;
}
.homei3{
    position: relative;
    bottom: 110px;
    color: #183561;
}
.homeit3{
    position: relative;
    bottom: 180px;
    left: 50px;
    color: #000000;
}
.homei4{
    position: relative;
    left: -50px;
    color: #183561;
}
.homeit4{
    position: relative;
    bottom: 70px;
    color: #000000;
}

.blue{
    position: relative;
    bottom: 1690px;
    left: -91px;
    width: 2103px;
    height: 981px;
    background: #0F2547 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #000000;
    opacity: 1;
}
.review{
    position: relative;
    bottom: 1600px;
    left: 640px;
    font-size: 50px;
    font-weight: 700;
    color: #000000;
}
.rev{
    position: relative;
    bottom: 1500px;
    left: 75px;
    width: 315px;
    height: 225px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 64px;
    opacity: 1;
}

.rev2{
    position: relative;
    bottom: 1725px;
    left: 430px;
    width: 315px;
    height: 225px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 64px;
    opacity: 1;
}
.rev3{
    position: relative;
    bottom: 1950px;
    left: 826px;
    width: 315px;
    height: 225px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 64px;
    opacity: 1;

}
.rev4{
    position: relative;
    bottom: 2174px;
    left: 1180px;
    width: 315px;
    height: 225px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 64px;
    opacity: 1;
}
}