@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  height: 100%;
  width: 100%;
  place-items: center;
  background-color: #2e40aa;
}
.lay{
  background-color: #2e40aa;
  
}
a.laytxt{
  color: aliceblue;
}
.card{
  
}